.heading{
    margin:0;
    padding:2vh;
    background-color: #e9e9e9;
    color: #558cba;
    display: flex;
    justify-content: center;
}
.container {
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #000000;
}

.label {
  font-weight: bold;
  margin-right: 10px;
  font-size: 16px;
}

.colorInput {
  cursor: pointer;
  width: 40px;
  height: 30px;
  border: none;
  background: transparent;
}
