

.container {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: #ffffff;
  color: #558cba;
}
.feeddata{
  /* margin: 1rem; */
  padding: 2vh;
  max-height: 50vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #558cba #f0f0f0;
}
.heading{
    margin:0;
    padding: 2vh;
    background-color: #e9e9e9;
    color: #558cba;
    display: flex;
    text-align: flex-start;
    font-weight: bolder;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #558cba;
}

.feedItem {
  border: 1px solid #000000;
  background-color: #f9f9f9;
  padding: 1rem;
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.feedItem img {
  width: 100%;
  max-height: 200px;
  object-fit:cover;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

.feedItem h3 {
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
  font-weight: bold;
  color: #333;
}

.feedItem p {
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
  color: #555;
}

.feedItem small {
  color: #888;
  font-size: 0.8rem;
}
