.container {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin-left: 250px;
}

.contentWrapper {
  display: flex;
  flex-grow: 1;
  height: 100vh;
  overflow: hidden;
}

.formSection {
  width: 50%;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  background: #ffffff;
  scrollbar-width: none;;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.2rem;
  color: #666;
}

.previewSection {
  width: 50%;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  background: #f9f9f9;
  border-left: 1px solid #ccc;
}
.formSection:hover,
.previewSection:hover {
  background-color: #ded9d950;
  transition: background-color 0.3s ease;
}
/* .active {
  background: #444;
  padding: 5px;
  border-radius: 4px;
}

.content {
  flex: 1;
  padding: 30px;
  background: #ffffff;
}

.content h1 {
  font-size: 28px;
  color: #000000;
  margin-bottom: 5px;
}

.content p {
  color: #000000;
}

.content h2 {
  font-size: 20px;
  color: #000000;
  margin-bottom: 20px;
}

.steps p {
  margin: 8px 0;
}

.formBox {
  margin: 20px 0;
}

.formBox input,
.formBox select,
.widgetName {
  width: 100%;
  max-width: 500px;
  padding: 8px;
  margin: 10px 0;
}

.buttons button {
  padding: 10px 15px;
  margin-right: 10px;
  margin-top: 10px;
}
 */
